html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  margin-bottom: 120px;
  margin-top: 30px;
}

.jumbotron {
  height: 690px;
  background-image: url(../img/space.JPG);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -150px;
  overflow: hidden;
  position: relative;
  border:black;

}

.jumbotron img {
  width: 200px;
  border: 5px solid #6fc1c6;
  margin-top: 70px;
}

.jumbotron h1, .jumbotron p {
  color: rgba(255,255,255,.8);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border-color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
hr {
  width: 250px;
  border-top: 3px solid #999;
}

section {
  min-height: 600px;
}

.kiri, .kanan {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1.2s;
}

.kanan {
  transform: translate(50px, 0);
}

.kiri-go, .kanan-go {
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: #24868c;
  border-color: #24868c;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio .thumbnail {
  opacity: 0;
  transform: translate(0,-40px);
  transition: .3s;
}

.portfolio .thumbnail.muncul {
  opacity: 1;
  transform: translate(0,0);
}

.contact {

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 160px;
  min-height: 800px;
  background-color: #24868c;
  font-family: Garamond, serif;
  font-size: 18px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: black;
  padding-top: 30px;
}

footer p {
  color: white;
  font-size: 0.9em;
}

footer p i {
  color: white;
}
footer a{
  color:white;
}

.about {
    position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: #24868c;
  margin-top:-30px;
  font-family: "Lucida Console", Monaco, monospace;
}

.about img{
   border:3px  solid black; 
}


.about h3, .about p{
  color: black;
}

.contact label, .contact option .contact button{
  color: black;
}
.contact a,{
  border-radius: 100px;
}

.counter_area{
  background-color: #24868c;
}
.display-3{
  margin-top: 40px;
  margin-bottom: 50px;
}
.progress{
  border-radius: 10px;
  background-color: #c4c4c4;
}
.contact button{
  background-color: #2ab3d0;
}
.card{
  margin-top: 80px;
}



