html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  margin-bottom: 120px;
  margin-top: 30px;
  background-image: url(../img/network1.jpg);
}

.jumbotron {
  height: 690px;
  background-image: url(../img/network2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  position: relative;
  border:black;

}

.jumbotron img {
  width: 200px;
  border: 5px solid #6fc1c6;
  margin-top: 70px;
}

.jumbotron h1{
  margin-top: 240px;
}


.jumbotron h1, .jumbotron p {
  color:white; 
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
hr {
  width: 250px;
  border-top: 3px solid blue;
}

section {
  min-height: 600px;
}

.kiri, .kanan {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1.2s;
}

.kanan {
  transform: translate(50px, 0);
}

.kiri-go, .kanan-go {
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.portfolio h2, .portfolio h4, .portfolio p{
   color:#eeeeee;
}

.portfolio .thumbnail {
  opacity: 0;
  transform: translate(0,-40px);
  transition: .3s;
}

.portfolio .thumbnail.muncul {
  opacity: 1;
  transform: translate(0,0);
}

.contact {

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  font-family: Garamond, serif;
  font-size: 18px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding-top: 30px;
}

.about {
    position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top:-30px;
  font-family: "Lucida Console", Monaco, monospace;
}

.about img{
   border:4px  solid black; 
}


.about h3, .about p,  .about h2{
  color: #eeeeee;
}

.counter_area h3, .counter_area span{
  color:#eeeeee;
}
.display-3{
  margin-top: 40px;
  margin-bottom: 50px;
}
.progress{
  border-radius: 10px;
  background-color: #c4c4c4;
}
.card{
  margin-top: 80px;
}
.contact label, .contact h2{
  color:#eeeeee;
}

.jumbotrono h1, p{
  color:white;

}
.jumbotrono{
  text-align: center;
}