

.carousel-item  p{
	color: white;
	margin-bottom: +20px;
}


.carousel-caption h5{
	margin-bottom: +50px;
}

.carousel-caption i{
	margin-bottom: +70px;
}
.container-fluid div{

	 margin-top: none;
}
.container h2{

	 margin-top: none;
}
.container-fluid h5{
	 margin-top: -25px;

	 margin-bottom: none;
}
.container-fluid img{
	margin-bottom: +20px;
}



