h1 {
 color: orange;
 font-family: bold;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
}
p{
	text-align: center;
}
hr{
	color: red;
}
.lead {
	color: red;
}

.jumbotron{
	background-image: url(image/robot.jpg);
	background-position: center;
	
}
.carousel-item img{
	 background-image:;
	 background-position: center;
     border-radius: -120px;
	}

.carousel-item img{
	border-radius: 12px;
}